.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 98vh; /* Usar min-height en lugar de height */
    background-image: url('../img/2025PlazaMayorCopia2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Evitar repetición */
}

.card-switch {
    position: relative;
    width: 300px;
    height: 400px;
    perspective: 1000px;
}

.switch {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.toggle {
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.toggle:checked ~ .slider {
    transform: rotateY(180deg);
}

.card-side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card__inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card__inner.flipped {
    transform: rotateY(180deg);
}

.flip-card__front, .flip-card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-card__front {
    background-color: #f7f7f7;
}

.flip-card__back {
    background-color: #f7f7f7;
    transform: rotateY(180deg);
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.flip-card__form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.flip-card__input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.flip-card__btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.flip-card__btn:hover {
    background-color: #0056b3;
}

.logo {
    max-width: 100%;
    max-height: 100px; /* Ajusta la altura máxima de la imagen */
    margin-bottom: 20px;
}